<div class="poster preload" data-bg="" data-source=<%= otherAccess.poster %>></div>

<div class="container">
    <div class="welcome">
        <span>welcome to my demo!</span>
    </div>
</div>

<div class="cta animated flash preload" data-bg="" data-source="img/arrow.png"></div>
