@import '_animate.min.css';

$font_stack: Helvetica, sans-serif;
$primary_color: #f3f3f3;

$lamp_color: rgba(242, 89, 84, 0.9);
$lamp_active_color: rgba(150, 237, 103, 0.9);

@keyframes moveInRight {
    0% {width: 0%;}
    100% {width: 100%;}
}

@define-mixin font-face $name {
    @font-face{
        font-family: $name;
        font-weight: normal;
        font-style: normal;
        src: url("./font/$name.eot");
        src: url("./font/$name.eot?#iefix") format("embedded-opentype"),
        url("./font/$name.woff") format("woff"),
        url("./font/$name.ttf") format("truetype"),
        url("./font/$name.svg#$name") format("svg");
    }
}

@mixin font-face Boogaloo;
@mixin font-face SourceSansPro;
@mixin font-face Catamaran;


.blur {
    filter: url(blur.svg#blur);

    -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);
            filter: blur(5px);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
}

* {
    margin: 0;
    padding: 0;
    font-size: 0;
    border: 0;
    color: #f3f3f3;
    font-family: 'Catamaran';
}

body,html {
    font: 100% $font_stack;
    background-color: $primary_color;
    overflow: hidden;
    opacity: 0.99;
    min-width: 1140px;
}

img {
    width: 100%;
    height: auto;
}

.preload[data-bg] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    width: 150px;
    height: auto;

    .nav-wrapper div {
        width: 0%;
        height: 50px;
        background-color: rgba(159, 135, 175, .4);
        // border-top: 0.5px solid #f3f3f3;
        // border-right: 0.5px solid #f3f3f3;
        box-shadow: 0px 1px 1px  #f3f3f3;
        transition: all ease-in-out .2s;

        &:nth-child(1) {
            overflow: hidden;
            animation: moveInRight 0.5s ease-out 0.5s forwards;
        }
        &:nth-child(2) {
            overflow: hidden;
            animation: moveInRight 0.5s ease-out 0.55s forwards;
        }
        &:nth-child(3) {
            overflow: hidden;
            animation: moveInRight 0.5s ease-out 0.6s forwards;
        }
        &:nth-child(4) {
            overflow: hidden;
            animation: moveInRight 0.5s ease-out 0.65s forwards;
        }
        &:nth-child(5) {
            overflow: hidden;
            animation: moveInRight 0.5s ease-out 0.7s forwards;
        }

        span {
            font-size: 16px;
            letter-spacing: 1px;
            color: #fff;
            font-family: 'Boogaloo', sans-serif;
            text-align: center;
            width: 100%;
            height: 100%;
            display: inline-block;
            line-height: 50px;
        }

        /*&:hover {
            transform-origin: left top;
            transform: scale(1.1);
        }*/

        &.active {
            background-color: rgba(136, 82, 127, .7);
            transform-origin: left top;
            transform: scale(1.1);
        }
    }
}

.author {
    text-align: center;
    color: #a6a6a6;
    position: absolute;
    z-index: 999;
    right: 0;
    width: 170px;
    height: 54px;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;

    animation-duration: 0.5s;
    animation-delay: 0.8s;

    .face1,.face2 {
        letter-spacing: 1px;
        width: 100%;
        font-size: 16px;
        line-height: 55px;
        position: absolute;
        height: 100%;
        backface-visibility: hidden;
        transform-origin: 50% 50%;
        transition: all 0.3s ease;
        border-radius: 2px;
    }

    .face1 {
        color: rgba(136, 82, 127, 1);
        text-shadow: 0.5px 0.5px 0.5px #000;
        background: rgba(244, 244, 244, .4);
        transform: rotateX(0deg) translateZ(27px);
    }

    .face2 {
        color: #fff;
        text-shadow: 0.5px 0.5px 0.5px #000;
        background: rgba(26, 26, 26, .4);
        transform: rotateX(90deg) translateZ(27px);
    }

    &:hover {
        .face1 {
            transform: rotateX(-90deg) translateZ(27px);
        }

        .face2 {
            transform: rotateX(0deg) translateZ(27px);
        }
    }
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.temp {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.poster {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .welcome,.result {
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-54%);
        display: none;
        padding-left: 5%;

        span {
            font-family: 'Boogaloo', cursive;
            font-size: 8vw;
            text-shadow: 1px 1px 2px #000;
        }
    }

    .result {
        p {
            font-family: 'Boogaloo', sans-serif;
            font-size: 6vw;
            text-shadow: 1px 1px 2px #000;

            span {
                font-family: 'Boogaloo', sans-serif;
                font-size: 6vw;
            }
        }

        .title {
            span {
                font-size: 8vw;
                letter-spacing: 2px;
                text-shadow: 1px 1px 2px #f1ad39;
            }
        }
    }

    .topic {
        color: rgba(136, 82, 127, 1);
        margin-top: 30px;
        font-size: 80px;
        font-family: 'Boogaloo', cursive;
        text-shadow: 1px 1px 1px #030303;
        text-align: center;

        animation-delay: 0.5s;
    }

    .question-wrapper {
        width: 60%;
        max-width: 950px;
        margin: 20px auto 0;
        position: relative;

        .title {
            font-size: 3.2vw;
            line-height: 100%;
            letter-spacing: 1px;
            text-shadow: 1px 1px 2px #000;
            margin-bottom: 4%;

            animation-delay: 0.7s;
        }

        .card-wrapper {
            width: 100%;
            text-align: center;
            margin-bottom: 5%;

            .card {
                width: 200px;
                height: 200px;
                position: relative;
                display: inline-block;
                margin: 0 2%;
                cursor: pointer;

                .front,.back {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    text-align: center;

                    &:after {
                        content: '';
                        height: 100%;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    span {
                        font-size: 20px;
                        text-shadow: 1px 1px 1px #030303;
                        display: inline-block;
                        vertical-align: middle;

                        &:nth-child(2) {
                            font-size: 26px;
                            font-family: 'Boogaloo', cursive;
                        }
                    }
                }

                .front {
                    transform: rotateX(0deg) rotateY(0deg);
                    transform-style: preserve-3d;
                    backface-visibility: hidden;
                    transition: all .4s ease-in-out;
                    z-index: 2;
                }

                .back {
                    transform: rotateY(-180deg);
                    transform-style: preserve-3d;
                    backface-visibility: hidden;
                    backface-visibility: hidden;
                    transition: all .4s ease-in-out;
                    z-index: 1;

                    span {
                        font-family: 'SourceSansPro';
                    }
                }

                &.hover {
                    .front {
                        z-index: 2;
                        transform: rotateY(180deg);
                    }

                    .back {
                        z-index: 3;
                        transform: rotateY(0deg);
                    }
                }

                &:nth-child(1) {
                    animation-delay: 0.9s;

                    .front {
                        background-color: rgba(207, 102, 35, .7);
                    }

                    .back {
                        background-color: rgba(179, 51, 101, .7);
                    }
                }
                &:nth-child(2) {
                    animation-delay: 1s;

                    .front {
                        background-color: rgba(207, 102, 35, .7);
                    }

                    .back {
                        background-color: rgba(179, 51, 101, .7);
                    }
                }
                &:nth-child(3) {
                    animation-delay: 1.1s;

                    .front {
                        background-color: rgba(207, 102, 35, .7);
                    }

                    .back {
                        background-color: rgba(179, 51, 101, .7);
                    }
                }
            }
        }

        .yourAnswer {
            font-size: 20px;
            color: #f0ba83;
            text-align: left;
            width: 400px;
            height: 100px;
            border: 5px solid rgba(179, 51, 101, 1);
            padding: 10px;

            animation-delay: 1.4s;
        }

        .different-wrapper {
            position: relative;
            width: 100%;
            overflow: hidden;

            animation-duration: 1.5s;
            animation-delay: 1s;

            .product {
                width: 40%;
                display: inline-block;
                margin: 0 10px;
                position: relative;
                font-size: 0;
                z-index: 2;
            }

            .target {
                position: absolute;
                top: 0;
                bottom: 0;
                overflow: hidden;
            }

            .defeat-wrapper {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                display: none;
                text-align: center;

                .defeatCircle {
                    width: 16%;
                    height: 11%;
                    border: 0.1px solid #000;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, .5);
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    opacity: 0;
                    visibility: hidden;
                }

                .defeatCopy,.victoryCopy {
                    display: inline-block;
                    font-size: 0.4vw;
                    text-shadow: 0.5px 0.5px 0.5px #000;
                    position: absolute;
                    top: 49%;
                    left: 45%;
                    opacity: 0;
                    visibility: hidden;
                }
            }



            .targetItem {
                position: relative;
                cursor: pointer;
            }

            .hotspot {
                width: 12%;
                height: 8%;
                transition: border ease-out .2s;
                transform-origin: center;
                box-sizing: border-box;
                position: absolute;
                cursor: pointer;

                &:nth-child(2) {
                    top: 4%;
                    left: 72%;
                }
                &:nth-child(3) {
                    top: 26%;
                    left: 0;
                }
                &:nth-child(4) {
                    top: 32%;
                    right: 0;
                }
                &:nth-child(5) {
                    top: 52%;
                    left: 0;
                }
                &:nth-child(6) {
                    top: 41%;
                    left: 73%;
                }

                &.active {
                    border: 4px solid rgb(242, 207, 130);
                }
            }

            .overlay {
                position: absolute;
                top: 0;
                right: 0%;
                z-index: 999;
                width: 59%;
                height: 100%;
                text-align: center;
                background-color: rgb(201, 170, 171);
                cursor: pointer;

                p {
                    font-size: 3vw;
                    position: relative;
                    transition: all ease-out .2s;
                    cursor: pointer;

                    &:nth-child(1) {
                        top: 40%;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        top: 37%;
                        color: rgb(254, 81, 81);
                    }
                }

                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    bottom: 30px;
                    left: 30px;
                    opacity: 0;
                    transition: opacity 0.35s, transform 0.35s;
                    cursor: pointer;
                }

                &:before {
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    transform: scale(0, 1);
                }

                &:after {
                    border-right: 1px solid #fff;
                    border-left: 1px solid #fff;
                    transform: scale(1, 0);
                }

                &:hover {
                    p {
                        &:nth-child(1) {
                            top: 35%;
                        }
                        &:nth-child(2) {
                            opacity: 1;
                            top: 42%;
                        }
                    }
                    &:before,&:after {
                        opacity:1;
                        transform:scale(1)
                    }
                }
            }

            .lamp-wrapper {
                width: 25%;
                height: 100%;
                position: absolute;
                top: 0;
                right: -8%;
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
                z-index: 1;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .lamp {
                    width: 4vw;
                    height: 4vw;
                    border-radius: 50%;
                    background-color: $lamp_color;
                    transition: background-color ease-out .2s;

                    &.active {
                        background-color: $lamp_active_color;
                    }
                }
            }
        }

        .circle-wrapper {
            margin-bottom: 20px;

            .circle,span {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: inline-block;
                margin: 0 20px;

                // animation-duration: 0.5s;
                animation-delay: 0.8s;
            }

            span {
                font-size: 50px;
                vertical-align: top;
                line-height: 46px;
                width: 100px;
                text-shadow: 1px 1px 2px #000;
                letter-spacing: 20px;
            }

            input {
                font-size: 50px;
                width: 50px;
                height: 50px;
                color: rgb(136, 82, 127);

                padding: 2px;
            }
        }
    }

    .submit,.resultOverlay {
        width: 140px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        background-color: rgba(179, 51, 101, .7);
        transition: all ease-out .2s;
        position: absolute;
        right: 5%;
        bottom: 2%;
        z-index: 999;

        animation-delay: 1.5s;

        span {
            font-size: 18px;
            position: relative;
            left: 0;
            transition: left ease-out .2s;
        }

        .arrow-icon {
            width: 18px;
            position: absolute;
            right: 25px;
            opacity: 0;
            transition: all ease-out .2s;
        }
        .right {
            &:before {
                content: '➙';
                font-size: 18px;
            }
        }
        .down {
            line-height: 37px;
            &:before {
                content: '⤣';
                font-size: 18px;
            }
        }

        &.hover {
            background-color: rgba(136, 82, 127, .7);

            span {
                left: -15px;
            }

            .arrow-icon {
                right: 20px;
                opacity: 1;
            }
        }
    }

    .resultOverlay {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.cta {
    width: 40px;
    height: 40px;
    z-index: 999;
    background-size: 100% 70%!important;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 1%;
    cursor: pointer;
    transition: transform ease-out .2s;

    // animation-duration: 0.5s;
    animation-delay: 0.8s;

    &:hover {
        transform: translateY(5px);
    }
}
